/* Styling using hard-coded values */

#viewport {
  overflow: auto;
}

#wrapper {
  width: calc(9 * 416px - 16px);
  height: 400px;
  background-color: black;
}

img {
  height: 100%;
  margin-right: 16px;
}

img:last-child {
  margin: 0;
}
